.wrapper {
	position: fixed;
	@include pos(0,0,0,0);
	overflow-y: auto;
	overflow: hidden;
}

.page {
	position: absolute;
	@include offset(-75%,0);
	@include size(100%);
}

.page-home { left: 0; }

.scroll-text {
	position: fixed;
	right: $sizeBlock;
	bottom: $sizeBlock;
	line-height: 1;
	margin: 0;
	padding-right: 42px;
}

.scroll-mouse {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -20px;
	@include size(26px, 40px);
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 13px;

	&:after {
		content: '';
		position: absolute;
		@include size(4px, 5px);
		top: 8px;
		left: 50%;
		margin-left: -2px;
		background: #fff;
		border-radius: 2px;
	}
}

@keyframes scroll-arrow {
	0% { transform: translate3d(0, 0, 0); }
	10% { transform: translate3d(0, 0, 0); }
	60% { transform: translate3d(0, 20px, 0); }
	61% { transform: translate3d(0, -18px, 0); }
	100% { transform: translate3d(0, 0, 0); }
}

.scroll-arrow {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 14px;
	border-radius: 11px;
	overflow: hidden;
	font-size: 11px;
	text-align: center;

	&:before {
		position: absolute;
		left: 0;
		right: 0;
		top: 5px;
		animation: scroll-arrow 2s ease-out infinite;
		animation-delay: 0.5s;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		@include size(22px);
		background: linear-gradient(to bottom, rgba($colorBackground,0) 0%,rgba($colorBackground,0) 65%,rgba($colorBackground,1) 95%);
		border-radius: 11px;
	}
}