html {
	padding-top: 0;
	height: 100%;
	background: $colorBackground;
	overflow: hidden;
	overflow-y: scroll;
	font: 300 10px/1.4 $fontKreon;
	color: #fff;
}

body {
	position: relative;
	overflow: hidden;
	height: 300%;
	font-size: 1.8rem;
}